@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  position: relative;
  min-height: 100vh;
  font-family: "Times New Roman", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: #181818;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1532px;
}

.link {
  border-bottom: 4px solid #000;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 120%;
  color: #000;

  &:hover {
    border-bottom-color: #031cf9;
    color: #031cf9;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 2px 24px;
  min-width: 270px;
  min-height: 60px;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
  background-color: #000;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #031cf9;
  }

  &--accent {
    border: 2px solid #000;
    font-size: 28px;
    line-height: 120%;
    color: #000;
    background-color: #fff95e;
  }
}

.footer,
.collection,
.join,
.portret,
.roadmap,
.hero {
  * {
    &:hover {
      transform: rotate(180deg);
    }
  }
}
